web-parser/data/
web-parser/temp/
web-parser/logs/
web-parser/crash/
web-parser/python/data/
web-parser/python/python-backend.exe
web-parser/python/dist/
web-parser/python/build/
web-parser-backup-*.tar.gz
web-parser-backup-*/
web-parser/python/python-backend.exe.bak
web-parser/python/models/
web-parser/python/data/qdrant_storage*/
web-parser/python/data/images/
~$*

*.bundle
.git.old/

.git.old/
